/*--------------------------------------------------------------
2.0 Home-style-1
--------------------------------------------------------------*/
// collection-section

.collection-section {

    .collection-wrap {
        padding-top: 30px;
        border-top: 1px solid $black;
        overflow: hidden;

        .collection-img {
            position: relative;
            display: block;

            @media(max-width:991px) {
                margin-bottom: 30px;
            }

            .collection-content {
                position: absolute;
                left: 0;
                bottom: 0;
                padding: 20px 30px;
                width: 100%;

                .theme-btn {
                    width: 100%;
                    display: block;
                    text-align: center;
                }
            }
        }
    }
}

// product-selling-section

.product-selling-section {
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 40px;

    @media(max-width:991px) {
        padding-bottom: 30px;
    }
}

.product-wrap .product-item .product-image .hidden-image {
    display: none;
}

.product-wrap {
    padding-top: 30px;
    border-top: 1px solid $black;

    @media(max-width:991px) {
        padding-bottom: 60px;
    }

    .product-item {
        position: relative;
        overflow: hidden;
        z-index: 1;
        display: block;

        .product-img {
            position: relative;
            overflow: hidden;

            .cart-btn {
                position: absolute;
                left: 0;
                bottom: -150px;
                padding: 30px;
                z-index: 11;
                width: 100%;
                text-align: center;
                transition: all .3s;
                opacity: 0;
                visibility: hidden;

                .theme-btn {
                    display: block;
                    background-color: $black;
                    color: $white;
                    border-color: $black;

                    &:hover {
                        background: $theme-primary-color;
                        border-color: $theme-primary-color;
                    }
                }
            }
        }

        &:hover {
            .product-img {
                .cart-btn {
                    bottom: 0;
                    opacity: 1;
                    visibility: visible;
                }
            }

            .filter {
                opacity: 1;
                visibility: visible;
            }
        }

        .product-image {
            position: relative;
            z-index: 11;

            img {
                transition: all .3s;
                width: unset;
                margin: 0 auto;
            }

        }

        &:hover {
            .product-info {
                ul {
                    height: auto;
                }
            }
        }

        .product-info {
            margin-top: 15px;
            text-align: center;

            h2 {
                font-size: 14px;
                font-style: normal;
                line-height: 16px;
                letter-spacing: 0.2px;
                margin-bottom: 6px;
                margin-top: 10px;
                font-family: $base-font;

                a {
                    color: $dark-gray;

                    &:hover {
                        color: $theme-primary-color;
                    }
                }
            }

            p {
                margin-bottom: 0;
            }

            span {
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: 0.2px;
                color: $dark-gray;
            }

        }

        .filter {
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            visibility: hidden;
            transition: all .3s;

            ul {
                display: flex;
                justify-content: center;
                margin-top: 10px;

                li {
                    color: $dark-gray;
                    font-size: 12px;

                    &+li {
                        margin-left: 10px;
                    }
                }

                &.color {
                    margin-left: 20px;

                    li {
                        width: 10px;
                        height: 10px;
                        background: $dark-gray;
                        border-radius: 50%;

                        &.color2 {
                            background-color: #939598;
                        }

                        &.color3 {
                            background-color: #e6e3ca;
                        }
                    }
                }
            }
        }

    }

    .owl-controls {
        width: 100%;
        margin: 0;
        position: absolute;
        left: 0;
        top: 50%;
        @include translatingY();
    }

    .owl-nav [class*=owl-] {
        padding: 0;
        margin: 0;
        color: $white;
        @include transition-time(0.3s);
        border: 0;
        background: none;
    }

    .owl-nav .owl-prev,
    .owl-nav .owl-next {
        position: absolute;
        top: -80px;
        background: $white;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        transition: all .3s;
        border: 1px solid $dark-gray;

        @media(max-width:991px) {
            top: auto;
            bottom: -60px;
        }

        i {
            color: $dark-gray;
            font-size: 12px;
        }

        &:hover {
            background: #f2f2f2;
            border-color: #f2f2f2;

            i {
                color: $dark-gray;
            }
        }
    }

    .owl-nav .owl-prev {
        right: 50px;
        left: auto;

        @media(max-width:991px) {
            right: auto;
            left: 44%;
        }

        @media(max-width:575px) {
            right: auto;
            left: 40%;
        }
    }

    .owl-nav .owl-next {
        right: 0px;

        @media(max-width:991px) {
            right: auto;
            left: 52%;
        }

        @media(max-width:575px) {
            right: auto;
            left: 55%;
        }
    }
}

// about-section

.more-btn {
    text-align: right;

    @media(max-width:991px) {
        text-align: center;
        margin-bottom: 30px;
    }
}

.about-section {
    .about-wrap {
        padding-top: 30px;
        border-top: 1px solid $black;
    }

    .about-items {
        padding: 30px 0;
        border-top: 1px solid $black;
        border-bottom: 1px solid $black;

        .about-item {
            position: relative;

            .about-content {
                position: absolute;
                padding-top: 25px;
                left: 30px;
                bottom: 30px;
                border-top: 1px solid $white;

                @media(max-width:991px) {
                    left: 20px;
                    bottom: 20px;
                }

                span {
                    color: $white;
                }

                h3 {
                    font-size: 30px;
                    color: $white;
                    margin-top: 10px;
                    margin-bottom: 20px;

                    @media(max-width:575px) {
                        font-size: 22px;
                    }
                }
            }
        }
    }
}

/*==============================
 13. testimonial-section
 ===============================*/
.testimonial-section {
    padding-bottom: 200px;
    position: relative;
    z-index: 1;

    @media(max-width:575px) {
        padding-bottom: 100px;
    }

    .testimonial-items {
        margin-left: auto;

        .owl-nav {
            display: none;
        }

        .owl-stage-outer {
            position: relative;

            @media(max-width:991px) {
                margin-left: 0px;
            }

        }

        .testimonial-item {
            padding-bottom: 40px;

            .ratting {
                display: flex;
                margin-bottom: 10px;

                li {
                    color: #F1B51F;

                    span {
                        color: #CDCDCD;
                    }

                    &+li {
                        margin-left: 6px;
                    }
                }
            }

            h4 {
                font-size: 22px;
                font-style: normal;
                line-height: normal;
                margin-bottom: 5px;
                margin-top: 30px;

                i {
                    color: #01AB31;
                }
            }

            p {
                margin-bottom: 0;
                line-height: 30px;
            }

            .info-img {
                margin-top: 0px;

                img {
                    width: unset;
                    border-radius: 50%;
                }
            }

            .quote {
                position: absolute;
                right: 30px;
                bottom: 65px;

                i {
                    font-size: 40px;
                    color: #ECECEC;
                    transition: all .3s;
                }
            }
        }

        .testimonial-item-inner {
            padding: 28px 36px;
            padding-bottom: 0;

            @media(max-width:1199px) {
                background: #FFF;
                box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
            }

            @media(max-width:575px) {
                padding: 28px 20px;
                padding-bottom: 0;
            }

            .info-img {
                position: relative;
                bottom: -30px;
            }
        }

        .owl-item.active.center {
            .testimonial-item-inner {
                background: #FFF;
                box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
            }

            .quote {
                i {
                    color: $theme-primary-color;
                }
            }
        }

        .owl-nav {
            display: none;
        }

        .owl-dots {
            text-align: center;
            bottom: -60px;
            position: absolute;
            width: 100%;

            @media(max-width:575px) {
                bottom: -30px;
            }

            button {
                border: none;
                margin: 0 5px;
                width: 15px;
                height: 15px;
                border-radius: 10px;
                background: #E2E9F0;

                @media(max-width:575px) {
                    width: 8px;
                    height: 12px;
                }

                &.active {
                    background: $theme-primary-color;

                    @media(max-width:575px) {
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
    }
}

.features-section {
    .features-wrap {
        padding-top: 30px;
        border-top: 1px solid #000;
    }

    .features-items {
        display: flex;
        justify-content: center;

        .features-item {
            text-align: center;
            padding: 0 20px;

            @media(max-width:575px) {
                padding: 0 10px;
            }

            i {
                display: block;

                img {
                    max-width: 90px;

                    @media(max-width:575px) {
                        max-width: 60px;
                    }
                }
            }

            span {
                font-size: 20px;
                margin-top: 20px;
                display: block;

                @media(max-width:575px) {
                    font-size: 14px;
                    margin-top: 10px;
                }
            }
        }
    }
}