/*--------------------------------------------------------------
2.0 Home-style-1
--------------------------------------------------------------*/
// collection-section

.collection-section {

    .collection-wrap {
        padding-top: 30px;
        border-top: 1px solid $black;

        .collection-img {
            position: relative;
            display: block;

            .collection-content {
                position: absolute;
                left: 0;
                bottom: 0;
                padding: 20px 30px;
                width: 100%;

                .theme-btn {
                    width: 100%;
                    display: block;
                    text-align: center;
                }
            }
        }
    }
}

// product-selling-section

.product-selling-section {
    overflow: hidden;
    padding-top: 20px;
}

.product-wrap .product-item .product-image .hidden-image {
    display: none;
}

.product-wrap {
    padding-top: 30px;
    border-top: 1px solid $black;

    @media(max-width:991px){
        padding-bottom: 60px;
    }

    .product-item {
        position: relative;
        overflow: hidden;
        z-index: 1;

        .product-img {
            position: relative;
            overflow: hidden;

            .cart-btn {
                position: absolute;
                left: 0;
                bottom: -150px;
                padding: 30px;
                z-index: 11;
                width: 100%;
                text-align: center;
                transition: all .3s;
                opacity: 0;
                visibility: hidden;

                .theme-btn {
                    display: block;
                    background-color: $black;
                    color: $white;
                    border-color: $black;

                    &:hover {
                        background: $theme-primary-color;
                        border-color: $theme-primary-color;
                    }
                }
            }
        }

        &:hover {
            .product-img {
                .cart-btn {
                    bottom: 0;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .product-image {
            position: relative;
            z-index: 11;

            img {
                transition: all .3s;
                width: unset;
                margin: 0 auto;
            }

        }

        &:hover {
            .product-info {
                ul {
                    height: auto;
                }
            }
        }

        .product-info {
            margin-top: 6px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2 {
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 16px;
                letter-spacing: 0.2px;
                margin-bottom: 6px;
                margin-top: 10px;
                font-family: $base-font;

                a {
                    color: $dark-gray;

                    &:hover {
                        color: $theme-primary-color;
                    }
                }
            }

            p {
                margin-bottom: 0;
            }

            span {
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
                letter-spacing: 0.2px;
                color: $dark-gray;
            }

        }

        &:hover {
            .product-info {
                ul {
                    margin-top: 0px;
                    z-index: 2;
                }
            }
        }


    }

    .owl-controls {
        width: 100%;
        margin: 0;
        position: absolute;
        left: 0;
        top: 50%;
        @include translatingY();
    }

    .owl-nav [class*=owl-] {
        padding: 0;
        margin: 0;
        color: $white;
        @include transition-time(0.3s);
        border: 0;
        background: none;
    }

    .owl-nav .owl-prev,
    .owl-nav .owl-next {
        position: absolute;
        top: -80px;
        background: $white;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        transition: all .3s;
        border: 1px solid $dark-gray;

        @media(max-width:991px){
            top: auto;
            bottom: -60px;
        }

        i {
            color: $dark-gray;
            font-size: 12px;
        }

        &:hover {
            background: #f2f2f2;
            border-color: #f2f2f2;

            i {
                color: $dark-gray;
            }
        }
    }

    .owl-nav .owl-prev {
        right: 50px;
        left: auto;

        @media(max-width:991px) {
            right: auto;
            left: 44%;
        }
        @media(max-width:575px) {
            right: auto;
            left: 40%;
        }
    }

    .owl-nav .owl-next {
        right: 0px;

        @media(max-width:991px) {
            right: auto;
            left: 52%;
        }

        @media(max-width:575px) {
            right: auto;
            left: 55%;
        }
    }
}