// page-title

.breadcrumbs {
	padding-top: 50px;
	padding-bottom: 80px;
	.breadcrumbs-wrap {
		text-align: center;

		a {
			font-size: 18px;
			color: $dark-gray;

			&:hover {
				color: $theme-primary-color;
			}
			
			span {
				text-decoration: underline;
			}

			i {
				font-size: 13px;
				margin-right: 5px;
			}
		}

		h3 {
			margin-top: 10px;
			font-size: 30px;
		}
	}
}