/* 1.0 Common css  */
html {
    font-size: $base-font-size + px;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: $base-font;
    color: $body-color;
    background-color: $white;
    font-size: 16px;
    font-size: calc-rem-value(16);
    overflow-x: hidden;

    @include media-query(767px) {
        font-size: 14px;
    }
}

body.dark-page {
    background-color: $body-bg-color;
}

p {
    font-size: 16px;
    color: $body-color;
    line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-color;
    font-family: $heading-font;
    font-weight: 400;
}

ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    @include transition-time(0.2s);
}

a:hover {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.section-fluid {
    padding: 120px 65px;

    @media (max-width: 991px) {
        padding: 90px 30px;
    }

    @media (max-width: 575px) {
        padding: 80px 0px;
    }
}

.container {
    @media(min-width:1400px) {
        max-width: 1300px;
    }
}

.hidden {
    display: none;
}

.sr-only {
    display: none !important;
    opacity: 0;
    visibility: hidden;
}

/* 1.2 Global Elements */
.page-wrap {
    position: relative;
    overflow: hidden;
}

.page-wrapper {
    @include media-query(991px) {
       overflow: hidden;
    }  
}

.wow {
    visibility: hidden;
}

.fi:before {
    margin: 0;
}


.section-bg {
    background: #F5F5F5 !important;
}

.separator-padding {
    padding: 80px 0;

    @include media-query(991px) {
        padding: 60px 0;
    }

    @include media-query(767px) {
        padding: 50px 0;
    }

    @include media-query(575px) {
        padding: 40px 0;
    }
}

.pt-120 {
    padding-top: 120px;

    @include media-query(991px) {
        padding-top: 90px;
    }

    @include media-query(767px) {
        padding-top: 80px;
    }

    @include media-query(575px) {
        padding-top: 60px;
    }
}

.pb-120 {
    padding-bottom: 120px;

    @include media-query(991px) {
        padding-bottom: 90px;
    }

    @include media-query(767px) {
        padding-bottom: 80px;
    }

    @include media-query(575px) {
        padding-bottom: 60px;
    }
}


/*** contact form error handling ***/
.contact-activation {
    .error-handling-messages {
        width: 100% !important;
        margin-top: 15px !important;
    }

    label.error {
        color: red;
        font-size: 13px;
        font-weight: normal;
        margin: 5px 0 0 0;
        text-align: left;
        display: block;
        margin-bottom: 10px;
    }

    #c-loader,
    #loader {
        display: none;
        margin-top: 10px;

        i {
            font-size: 30px;
            font-size: calc-rem-value(30);
            color: $theme-primary-color;
            display: inline-block;
            -webkit-animation: rotating linear 2s infinite;
            animation: rotating linear 2s infinite;
        }
    }

    #success,
    #c-success,
    #c-error,
    #error {
        width: 100%;
        color: $white;
        padding: 5px 10px;
        font-size: 16px;
        text-align: center;
        display: none;

        @include media-query(767px) {
            font-size: 15px;
        }
    }

    #c-success,
    #success {
        background-color: lighten(green, 5%);
        border-left: 5px solid green;
        margin-bottom: 5px;
    }

    #c-error,
    #error {
        background-color: lighten(red, 5%);
        border-left: 5px solid red;
    }
}

@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 5s alternate infinite;
    animation: rotating 5s alternate infinite;
}


/*** back to top **/
.back-btn {
    background-color: $theme-primary-color;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border: 4px solid darken($theme-primary-color, 2);
    border-radius: 3px;
    text-align: center;
    display: none;
    position: fixed;
    z-index: 999;
    right: 15px;
    bottom: 15px;
    @include transition-time(0.2s);

    @include media-query(991px) {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }

    &:hover {
        background-color: $theme-primary-color;
    }
}

.back-btn i {
    font-size: 18px;
    font-size: calc-rem-value(18);
    color: #fff;
    position: absolute;
    left: 39%;
    top: -12%;
    @include center-by-translating();
    transform: rotate(268deg);

    @include media-query(991px) {
        left: 32%;
        top: -15%;
    }
}


/** for popup image ***/
.mfp-wrap {
    background-color: transparentize($black, 0.1);
    z-index: 99999;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

/*** for fancybox video ***/
.fancybox-overlay {
    background: rgba(0, 0, 0, 0.9);
    z-index: 9999 !important;
}

.fancybox-wrap {
    z-index: 99999 !important;
}


// sticky design

.sticky {
	position: fixed!important;
    background: $white;
	top: 0;
    left: 0;
	width: 100%;
	transition: all 0.5s ease;
	animation: smoothScroll 1s forwards;
	box-shadow: 0 -5px 15px #086ad84a;
    z-index: 999;
}

@keyframes smoothScroll {
	0% {
		transform: translateY(-142px);
	}

	100% {
		transform: translateY(0px);
	}
}



.header-style-1 .sticky {
    @media(max-width:991px){
        padding: 15px;
    }

    @media(max-width:575px){
        padding: 15px 0;
    }

    .mean-container .mean-nav {
        margin-top: 15px;
    }
}

.header-style-3 .sticky {
    @media(max-width:991px){
        padding: 15px;
    }
    @media(max-width:575px){
        padding: 15px 0;
    }
}

/*mobal-subscribe*/



.cart-quickview {
    max-width: 1120px;
    margin: 200px auto;

    @media(max-width:991px) {
        max-width: 500px;
    }

    .modal-body {
        padding: 40px;
    }

    .modal-product {
        img {
            width: 100%;
        }
    }

    .product-details .product-single-content {
        h5 {
            margin-bottom: 5px;
        }

        .pro-single-btn .quantity {
            @media(max-width:991px) {
                margin-bottom: 20px;
            }
        }
    }

    .modal-content button {
        position: absolute;
        top: 2px;
        right: 2px;
        width: 40px;
        height: 40px;
        background: $theme-primary-color;
        text-align: center;
        font-size: 24px;
        border: none;
        color: $white;
        z-index: 9;
        transition: all .4s ease-in-out;
        opacity: 1;
    }

}

.modal {
    z-index: 9999;
}